* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0;
    text-decoration: none;
}

header {
    background-image: url(../img/background1.jpg);
    height: 750px;
}

.brand {
    font-family: Impact, sans-serif;
    font-size: 40px;
    position: relative;
    top: 30px;
    left: 30px;
    border-color: #F5A9F2;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    padding: 3px;
}

.logo {
    width: 40px;
}

.hamburger {
    display: none;
}

h4 {
    position: relative;
    top: 200px;
    left: 525px;
    font-size: 40px;
}

.big-heading {
    position: relative;
    top: 250px;
    left: 150px;
}

.block-2 {
    background: #F2F2F2;
    height: 750px;
    padding: 40px;
    align-items: center;
}

.name {
    font-size: 48px;
    width: 450px;
    text-align: center;
}

.eugeniavostres {
    border-radius: 50%;
    width: 400px;
    border-style: hidden;
}

.content-2 {
    display: inline-block;
}

.text-block-2 {
    width: 400px;
}

.about {
    background-image: url(../img/background2.jpg);
    height: 150px;
}

.block-3 {
    background: #848484;
    height: 580px;
}

.blog {
    background-image: url(../img/background3.jpg);
    height: 150px;
}

.block-4-outer {
    padding-bottom: 50px;
    padding-top: 50px;
    background: #F2F2F2;
    height: 580px;
}

.block-4-inner {
    background: #848484;
    padding: 40px;
    max-width: 1100px;
    height: 480px;
}

figure {
    display: inline-block;
}

.contact {
    background-image: url(../img/background4.jpg);
    height: 150px;
    display: flex;
    justify-content: flex-start;
}

.block-5-outer {
    padding-bottom: 50px;
    padding-top: 50px;
    background: #848484;
    height: 600px;
}

.block-5-inner {
    background: #F2F2F2;
    height: 500px;
    width: 400px;
}

button {
    color: silver;
}

.inner-footer {
    background: #424242;
    height: 150px;
}

.outer-footer {
    background: #F2F2F2;
    height: 230px;
}

.white-text {
    color: white;
}

.yellow-thin-border {
    border-color: #FFFF00;
    border-width: 2px;
    border-style: solid;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 7px;
    padding-right: 7px;
    text-align: center;
}

.small-text {
    font-size: 17px;
}

p {
    font-size: 15px;
}

h2 {
    font-size: 58px;
}

h3 {
    font-size: 27px;
}
