* {
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0;
}

.white-text {
    color: white;
}

.brand {
    font-family: Impact, sans-serif;
    font-size: 40px;
    position: relative;
    padding-left: 40px;
    padding-top: 80px;
    
}
.thin-pink-boarder {
    border-color: #F5A9F2;
    border-width: 1px;
    border-style: solid;
    text-align: center;
}

.logo {
    width: 40px;
}

.hamburger {
    display: none;
}

.name {
    font-size: 48px;
    width: 450px;
    text-align: center;
}

.eugeniavostres {
    border-radius: 50%;
    width: 400px;
    border-style: hidden;
}

.yellow-thin-border {
    border-color: #FFFF00;
    border-width: 2px;
    border-style: solid;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 7px;
    padding-right: 7px;
    text-align: center;
}

.small-text {
    font-size: 17px;
}

p {
    font-size: 15px;
}

h2 {
    font-size: 58px;
}

h3 {
    font-size: 27px;
}

header {
    background-image: url(../img/background1.jpg);
    height: 600px;
}

.block-2 {
    background: #F2F2F2;
    height: 700px;
    padding: 40px;
    align-items: center;
}

.content-2 {
    display: inline-block;
}
.text-block-2 {
    width: 400px;
}

.about {
    background-image: url(../img/background2.jpg);
}

.block-3 {
    background: #848484;
    display: inline-block;
}

.blog {
    background-image: url(../img/background3.jpg);
}

.block-4-outer {
    padding: 25px;
    background: #F2F2F2;
}

.block-4-inner {
    background: #848484;
}

figure {
    display: inline-block;
}

.contact {
    background-image: url(../img/background4.jpg);
}

.block-5-outer {
    padding: 40px;
    background: #848484;
}

.block-5-inner {
    background: #F2F2F2;
}

footer {
    background: #424242;
}
